:root {
    background-color: rgb(255, 255, 104);
}

* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

h1{
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4;
    color: blue;
    margin-bottom: 5rem;
    height: 0.01vh;
}

h1 > span {
    font-size: 2.4;
    font-weight: 500;
}

a {
    font-size: 2.8;
    font-weight: 500;
}

.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem; 
    margin: 0;
}

/* This ensures that everything directly within the container 
    has a width of 100%. The greater than sign in CSS means that 
    anything less than something should has the following properties
    given the are a direct child node of the greater thing.*/
.container > *{
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction:column;
  }
  
  .flex-center {
    justify-content: center;
    align-items:center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 5px solid red;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: yellow;
  }

  .btn {border-radius: 100%;}
  
  .btn:hover {
    cursor:all-scroll;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(252, 0, 0, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor:crosshair;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 0, 0, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
